<div class="col-xs-2">
  <ul class="nav bing5tui3-sidebar-nav", id="bing5tui3-sidebar-list">
    <li>
      <%= link_to 'Profile', user_path(@user), {:class => "bing5tui3-sidebar-a"} %>
    </li>
    <li>
      <%= link_to 'Articles', user_path(@user), {:class => "bing5tui3-sidebar-a"} %>
    </li>
    <li>
      <%= link_to 'Messages', user_path(@user), {:class => "bing5tui3-sidebar-a"} %>
    </li>
  </ul>
</div>